@import './base.css';

#app {
  max-width: 4000px;
  margin: 0 auto;
/*  padding: 2rem;*/
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.el-dialog {
  margin-top: 5vh !important;
}

.el-menu--horizontal>.el-sub-menu.is-active .el-sub-menu__title {
  color: var(--el-menu-text-color) !important;
  border-bottom: 0 !important;
}

.el-menu--horizontal .el-menu .el-menu-item.is-active, .el-menu--horizontal .el-menu .el-sub-menu.is-active>.el-sub-menu__title {
  color: var(--el-menu-text-color) !important;
}

.el-dropdown-menu__item:not(.is-disabled):focus, 
.el-dropdown-menu__item:not(.is-disabled):hover, 
.el-select-dropdown__item.is-selected,
.el-menu--horizontal>.el-sub-menu:hover .el-sub-menu__title {
  color: #67C23A !important;
}

.el-input__wrapper.is-focus, .el-textarea__inner:focus, .el-select__wrapper.is-focused {
  box-shadow: 0 0 0 1px #67C23A inset !important;
}

.el-checkbox__label {
  font-weight: normal !important;
}

.el-loading-spinner .path, .el-loading-spinner .el-loading-text {
  stroke: #529b2e !important;
  color: #529b2e !important;
}

.el-year-table td.current:not(.disabled) .el-date-table-cell__text {
  background-color: var(--el-color-success) !important;
  color: #fff !important;
}

.el-year-table td.today .el-date-table-cell__text, .el-year-table td .el-date-table-cell__text:hover{
  color: var(--el-color-success) !important;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 4000px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    padding: 0 2rem !important;
  }
}
